<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="fontiran.com:license" content="HZNBQ" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @Html.Raw(ViewData["Title"])
        
    </title>
    <script type="application/ld+json">
        @Html.Raw(@ViewData["BrearCrumpList"])
    </script>

    <link href="https://i.ganjoor.net/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
    <link href="https://i.ganjoor.net/css/p5.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="https://ganjoor.net/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script>
function wpopen (macagna) {
    window.open(macagna, '_blank', 'width=600,height=700,scrollbars=yes,status=yes');
}
    </script>
</head>
<body>

    @RenderBody()


  


    <div id="footer">
        <ul>
            <li><a href="https://ganjoor.net">خانه</a> | </li>
            <li><a href="http://ganjoor.net/random/">بیت تصادفی</a> | </li>
            <li><a href="https://ganjoor.net/mundex/">نمایهٔ موسیقی</a> | </li>
            <li><a href="http://blog.ganjoor.net/">تازه‌ها</a> | </li>
            <li><a href="https://ganjoor.net/hashieha/">حاشیه‌ها</a> | </li>
            <li><a href="http://c.ganjoor.net">کدها</a> | </li>
            <li><a href="http://dg.ganjoor.net">رومیزی</a> | </li>
            <li><a href="http://pozh.org/saaghar/">ساغر</a> | </li>
            <li><a href="http://epub.ganjoor.net">کتابخانه</a> | </li>
            <li><a href="https://museum.ganjoor.net">گنجینه</a> | </li>
            <li><a href="https://ganjoor.net/vazn/">آمار</a> | </li>
            <li><a href="https://ganjoor.net/about/">معرفی</a> | </li>
            <li><a href="https://ganjoor.net/sources/">منابع</a> | </li>
            <li><a href="https://ganjoor.net/donate/">کمک</a> | </li>
            <li><a href="https://ganjoor.net/contact/">تماس</a></li>
        </ul>
    </div>


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://i.ganjoor.net/js/bd.js"></script>
    <script src="https://i.ganjoor.net/js/vaabc.js"></script>





</body>
</html>
