@page

@{
    Layout = null;
    ViewData["Title"] = "یافت می‌نشود ...";
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @Html.Raw(ViewData["Title"])
    </title>
   
    <link href="/css/p5.css" rel="stylesheet" type="text/css" />
    <link href="/css/fab.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />

</head>

<body>
    <h2 class="text-danger">یافت می‌نشود ....</h2>


    <p>
        صفحه یا شعر مورد نظر شما در این مجموعه وجود ندارد. ممکن است این خطا در اثر تغییر نشانی برخی صفحات رخ داده باشد، که در این صورت، جستجو با استفاده از کلمات مربوط شما را به صفحات تغییر نشانی یافته رهنمون می‌شود
    </p>

</body>
</html>

