@page
@model GanjooRazor.Pages.LoginModel
@{
    Layout = "Shared/_Login";
    ViewData["Title"] = "ورود کاربر";
}
<form method="post">
    <table>
        <tr>
            <td>
                <span class="inputlabel">پست الکترونیکی: </span>
            </td>
            <td>
                <input type="text" asp-for="LoginViewModel.Username" placeholder="پست الکترونیکی" />
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">گذرواژه: </span>
            </td>
            <td>
                <input type="password" asp-for="LoginViewModel.Password" id="password" placeholder="گذرواژه" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="submit" id="submit" value="ورود" /></td>
        </tr>
    </table>
    <div>@Model.LastError</div>
</form>

