@page
@model GanjooRazor.Areas.Panel.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "پیشخان کاربر";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}
<h1>@ViewData["Title"]</h1>
