@page
@model GanjooRazor.Areas.User.Pages.ReviewSongsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "آهنگ‌های پیشنهادی";
    GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, ViewData);
}
<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{

    <form method="post">
        <table style="width:100%" class="noborder">
            <tr>
                <td>
                    <span class="inputlabel">شعر: </span>
                </td>
                <td>
                    <a href="@Html.Raw(Model.Poem.FullUrl)" target="_blank">@Model.Poem.FullTitle</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @{
                        switch (Model.PoemMusicTrackViewModel.TrackType)
                        {
                            case RMuseum.Models.Ganjoor.PoemMusicTrackType.Spotify:
                                <img src="/image/spotify.png" alt="اسپاتیفای" height="32" />
                                break;
                            case RMuseum.Models.Ganjoor.PoemMusicTrackType.Golha:
                                <img src="/image/golha.png" alt="گلها" height="32" />
                                break;
                            default:
                                <img src="/image/beeptunes.png" alt="بیپ‌تونز" height="32" />
                                break;
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">خواننده: </span>
                </td>
                <td>
                    <input style="width:100%" asp-for="PoemMusicTrackViewModel.ArtistName" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">نشانی خواننده: </span>
                </td>
                <td>
                    <input style="width:100%;text-align:left;direction:ltr;" asp-for="PoemMusicTrackViewModel.ArtistUrl" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">آلبوم: </span>
                </td>
                <td>
                    <input style="width:100%" asp-for="PoemMusicTrackViewModel.AlbumName" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">نشانی آلبوم: </span>
                </td>
                <td>
                    <input style="width:100%;text-align:left;direction:ltr;" asp-for="PoemMusicTrackViewModel.AlbumUrl" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">آهنگ: </span>
                </td>
                <td>
                    <input style="width:100%" asp-for="PoemMusicTrackViewModel.TrackName" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">نشانی آهنگ: </span>
                </td>
                <td>
                    <input style="width:100%;text-align:left;direction:ltr;" asp-for="PoemMusicTrackViewModel.TrackUrl" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">توضیح: </span>
                </td>
                <td>
                    <input style="width:100%" asp-for="PoemMusicTrackViewModel.Description" /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="approve" id="approve" style="width:100%;color:white;background-color:green">تأیید</button>
                </td>
                <td>
                    <table style="width:100%" class="noborder">
                        <tr>
                            <td>
                                <button type="submit" name="reject1" id="reject1" style="width:100%;color:white;background-color:darkred">در آهنگ این شعر خوانده نشده</button>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <button type="submit" name="reject1" id="reject1" style="width:100%;color:white;background-color:darkred">لینک یا اطلاعات آهنگ ایراد دارد</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" name="reject1" id="reject1" style="width:100%;color:white;background-color:darkred">رد به دلیل دیگر:</button>
                            </td>
                            <td>
                                <input style="width:100%;text-align:left;direction:ltr;" asp-for="PoemMusicTrackViewModel.RejectionCause" /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" name="next" id="next" style="width:100%;color:white;background-color:orange">بعدی</button>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    </form>
}

